<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            @Html.ActionLink("Cadastra Família", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Cadastrar", "Criar", "Familia", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Listar Familias", "List", "Familia", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Busca", "Search", "Familia", null, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </nav>
    </div>
</div>
