@model IEnumerable<CadastroFamilia.Models.Familia>
@{
    ViewBag.Title = "Lista de Familias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Famílias</h2>
<p>@Html.ActionLink("Nova Familia", "Criar", "Familia", null, new { @class = "btn btn-primary" })</p>
@if (!Model.Any())
{
    <p>Não há nenhuma família cadastrada</p>
}
else
{
    <table id="familias" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Familia</th>
                <th>Deletar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var familia in Model)
            {
                <tr>
                    <td>@Html.ActionLink("Familia " + familia.Id, "Details", "Familia", new { id = familia.Id }, null)</td>
                    <td>
                        <button data-familia-id="@familia.Id" class="btn-link js-delete">Deletar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#familias .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Tem certeza que deseja deletar esta familia?")) {
                    $.ajax({
                        url: "api/familias/" + button.attr("data-familia-id"),
                        method: "DELETE",
                        sucess: function () {
                            button.parents("tr").remove();
                        }
                    })
                }
            });
        });
    </script>
}